.cart {
  padding: 2rem;
  @include flex(row, center, space-between);
  display: flex;
  gap: 2rem;
  height: calc(100vh - 4rem);

  > main {
    width: 75%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .cart-items {
      .item {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        border: 1px solid rgba($color: #000000, $alpha: 0.15);
        border-radius: 5px;
        padding: 1rem;

        img {
          height: 7rem;
        }

        .item-details {
          display: flex;
          align-items: stretch;
          gap: 1rem;

          p {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }

        .quantity {
          display: flex;
          gap: 10px;
          align-items: center;
          button {
            padding: 10px;
            border: none;
          }

          svg {
            :hover {
              color: red;
              transition: all 0.5ms ease-in;
            }
          }
        }
      }
    }
  }

  aside {
    width: 25%;
    @include flex(column, center, stretch, 1.5rem);
    align-self: center;
    font-family: Poppins, sans-serif;

    padding: 2rem;

    input {
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      font-family: Poppins, sans-serif;
    }

    button {
      padding: 5px 15px;
      border-radius: 5px;
      border: none;
      background-color: $color3;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      font-family: Poppins, sans-serif;
      cursor: pointer;
    }
  }
}
