.home {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;

  width: 100%;

  > section {
    height: 18.75rem;
    width: 100%;
    margin: auto;
    background: url('../assets/cover.jpg') no-repeat center / cover;
  }

  > h1 {
    @include heading(0.5px);
    margin-top: 3rem;
    @include flex(row, space-between, center);
  }

  .find-more {
    font-size: 1rem;
  }

  > main {
    width: 100%;
    flex: 1;
    gap: 1rem;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.product-card {
  width: 18.75rem;
  height: 20rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1rem;
  flex: none;
  @include flex(column, flex-start, center, 4px);
  position: relative;
  &:hover {
    > div {
      opacity: 100%;
    }
  }

  > img {
    @include square(calc(18.75rem - 7rem));
    object-fit: cover;
    margin: 1rem;
  }

  h1 {
    font-weight: 700;
    font-size: 1.1rem;
  }

  > div {
    @include square(100%);
    @include flex(column, center, center, 4px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;

    > button {
      @include flex(column, center, center, 4px);
      padding: 1rem;
      background-color: $color3;
      color: #fff;
      border: none;
      border-radius: 100%;
      &:hover {
        rotate: 20deg;
      }
      transition: all ease-in 0.3s;
    }
  }
}
