.login {
  height: calc(100vh - 4rem);
  @include flex(row, center, center);

  > main {
    text-align: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    padding: 2rem;
    min-width: 40%;

    > div {
      @include flex(column, center, center, 5px);
      width: 100%;

      > input,
      select {
        font-family: Poppins, sans-serif;
        border-radius: 5px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        padding: 10px;
        width: 100%;
      }

      > button {
        padding: 0.5rem 1rem;
        font-family: Poppins, sans-serif;
        @include flex(row, center, center, 10px);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        outline: none;
        color: #fff;
        background-color: $color3;

        > svg {
          font-size: 1.5rem;
          color: #fff;
        }
      }
    }
  }
}
